<% for(var i=0,len=list.length;i<len;i++){ %>
	<li data-index="<%= i%>">
		<h4>宝安机场店</h4>
		<p>兑换汇率: <%=list[i].rate %></p>
		<p>金额限制: <%=list[i].min %>元-<%=list[i].max %>元</p>
		<p class="hd">网点地址: <%=list[i].address %></p>
		<p class="hd">营业时间: <%=list[i].opentime %></p>
		<span class="more"></span>
	</li> 
<%}%>