<% if (!id) { %>
<section>
	<div class="progress grid">
		<div class="cell active actived"><p></p><span></span><em>网点查询</em></div>
		<div class="cell active actived"><p></p><span></span><em>订单填写</em></div>
		<div class="cell active"><p></p><span></span><em>订单完成</em></div>
	</div>
</section>
<% } %>
<div class="modle">
	<h4>兑换内容</h4>
	<p><%= buy %></p>
	<p><%= sell%><%= yuan %>元人民币</p>
	<p>取钞日期: <%= takeDate %></p>
</div>
<div class="modle">
	<h4>兑换人</h4>
	<p>兑换人姓名: <%= changer %></p>
	<p>证件类型: <%= idTypeText %></p>
	<p>证件号码：<%= idNo %></p>
	<p>联系手机：<%= mobileNo %></p>
</div>
<div class="modle">
	<h4>取钞网点信息</h4>
	<p>网点名称: <%= name%></p>
	<p>城市:<%= city %></p>
	<p>地址: <%= address %></p>
	<p>营业时间: <%= opentime %></p>
</div>
<% if (!id) { %>
	<div class="group-line btn-view">
		<div  class="cell"><a href="javascript:;" class="button next" id="btn-order">确认提交</a></div>
	</div>
<% } else { %>
	<div class="group-line btn-view grid">
		<div class="cell"><span class="button back">返回</span></div>
		<% if(orderStatus == 1) {%>
			<div  class="cell"><span class="button cancel">取消</span></div>
		<% } %>
	</div>
<% } %>